✨Congratulations again on your feature, [[USER FIRST NAME]].
[[PERSONALIZED MESSAGE]]
Thank you for sharing it and keep tagging #snap_%%PAGENAME%% !!
✨We look forward to seeing more of your work 👏👏👏 💯
